.data-sub {
  display: none;
  font-family: "Futura Today Light", Arial,sans-serif;
}

.data-head {
  color: #fff;
  display: none;
  font-family: "Futura Today", Arial,sans-serif;
  font-size: 1.1em;
  margin-top: 1em;
  text-transform: uppercase;
}

.data-list {
  list-style: none;
  margin: 0.5em;
  padding: 0;
}

.panel-data {
  display: block;
  height: auto;
  padding: 1em 0;
  position: relative;
  &.hidden {
    display: none;
  }
}

.panel-wrap {
  color: $dark-grey;
  position: relative;
}

.data-wrap {
  padding:1em;
   @extend .group;
}

.county-item {
  color: $blue;
  cursor: pointer;
  text-decoration: underline;
}


.data-section {
  display: block;
  float: none;
 
  @media (min-width: 600px) {
    float: left;
    display: inline-block;
    width: 50%;
  }
}
.chart-title {
  font-family: "Futura Today", Arial,sans-serif;
  margin-top: 1em;
  text-transform: uppercase;
}
.panel-info {
  text-align: center;
}
.bar-chart-box {
  height: 135px;
  position: relative;
  width: 100%
}
.bar-box {
  bottom: 0px;
  left: 4%;
  position: absolute;
  width: 14%;
}
.bar-box.mid {
  left: 43%;
}
.bar-box.right {
  left: 82%;
}
.pie-box.mid {
  left: 40%;
}
.pie-box.right {
  left: 79%;
}
.bar {
    background: #1b9cfa;
  height: 0px;
}
.bar-text {
  font-family: "Futura Today Light", Arial,sans-serif;
  text-align: center;
}
.bar-label {
  font-family: "Futura Today", Arial,sans-serif;
  text-align: center;
}
.bar.hide {
  display: none;
}
.race-label {
  font-family: "Futura Today", Arial,sans-serif;
  margin-top: 15px;
  text-align: center;
  text-transform: uppercase;
}
.pie-box {
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 10%
}
.pie-box.hide {
  display: none;
}
.data-block {
  display: inline-block;
  width: 20%;
}
.data-block.left {
  margin-left: 2.5%
}
.data-block.right {
  margin-right: 2.5%
}
.data-text {
  font-family: "Futura Today", Arial,sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
}
.data-number {
    font-size: 2.0em;
}
.data-container {
  text-align: center;
  width: 100%;
}
.data-table {
  color: #fff;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3.2em;
  width: 90%;
}
.table-column {
  border-top: #fff dotted 1px;
  font-size: 0.7em;
  padding: 1.0%;
  width: 33%;
}
.table-column.middle {
  text-align: center;
  text-transform: uppercase;
  width: 34%;
}
.table-column.head {
  font-size: 1.0em;
}
.table-column.star {
  border-top: none;
  font-size: 6em;
  line-height: 50%;
}
html.vert .table-column.star {
  font-size: 2.5em;
}
html.touch .data-table td {
  padding: 1.0% 1.0% 1.8% 1.0%;
}
.data-table td.vax-label {
  font-family: "Futura Today", Arial,sans-serif;
  width: 54%;
}
.data-table td.vax-label.red {
  color: #ff7163;
}
.panel-sub-chat {
  color: #fff;
  font-family: "Futura Today", Arial,sans-serif;
  font-size: 0.9em;
}
.star-circle {
  background: $blue;
  border-radius: 0.75em;
  font-size: 3.5em;
  height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  width: 1.5em;
}
.star-circle div {
  padding-top: 0.1em;
}
.table-column.dash {
  font-size: 6em;
  line-height: 10%;
  padding-bottom: 0.21em;
}
.table-column.label {
  font-family: "Futura Today", Arial,sans-serif;
  font-size: 0.8em;
}
html.vert .table-column.dash {
  font-size: 2.5em;
}
.table-column.label div {
  position: relative;
}
.star-icon {
  width: 19%;
}